@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
/*Imports the font "Press Start 2P" from Google Fonts.*/
/*display=swap: The browser will initially show a fallback font, then once the Google Font has downloaded it will swap the fonts.
Reference: https://fontsplugin.com/google-fonts-font-display-swap/*/

*{
  margin: 0;
  padding: 0;
}

body
{
  background-color: #222;
  color: white;
  font-family: 'Press Start 2P', sans-serif;
}

header{
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.title{
  flex-direction: column;
}

header h1{
  font-size: 3rem;
}

header h2{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}