@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
/*Imports the font "Press Start 2P" from Google Fonts.*/
/*display=swap: The browser will initially show a fallback font, then once the Google Font has downloaded it will swap the fonts.
Reference: https://fontsplugin.com/google-fonts-font-display-swap/*/

*{
  margin: 0;
  padding: 0;
}

body
{
  background-color: #222;
  color: white;
  font-family: 'Press Start 2P', sans-serif;
}

header{
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.title{
  flex-direction: column;
}

header h1{
  font-size: 3rem;
}

header h2{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.answer-block{
  display: flex;
  justify-content: center; 
}

.answer{
  background-color: white;
  color: #222;
  font-size: 4rem;
  margin-top: 2rem;
  padding: 2rem 0;
  text-align: center;
  width: 10rem;
}

/*Game Display*/
.game{
  display: flex;
  justify-content:space-around;
  padding-top: 5rem;
}

.game-ui{
  display: flex;
  flex-direction: column;
  width: 30rem;
  align-items: center;
  /*align-items: Must be paired with display: flex. By default, flex direction is row. If it is row, align-items will compress paddings that are vertical. In this case, since the flex-direction is column, it will compress horizontal padding which will work with the default padding of buttons*/
}

.game-guess{
  height: 2rem;
  text-align: center;
  font-family: inherit;
  font-size: 3rem;
  width: 12rem;
  background-color: inherit;
  color: white;
  border: solid white 4px;
  padding: 2rem;
}

.game-button{
  margin-top: 2rem;
  padding:1rem 2rem;
  font-family: inherit;
  background-color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.game-button:hover{
background-color: gray;
}

.game-scoreboard{
  display: flex;
  flex-direction: column;
  width: 30rem;
  font-size: 1.5rem;
}

.game-message{
 padding-bottom: 5rem;
}